.sg code{font-size:12px;line-height:1;font-family:Monaco,'Andale Mono',monospace;white-space:pre-wrap}.sg__row{margin-top:100px;padding-top:100px;border-top:1px solid #b2b2b2}.sg__row:first-child{padding-top:0;border-top:0}.sg__title{margin:40px 0;padding-bottom:10px;border-bottom:1px solid #d9d9d9;font-family:'Univers Next W01',sans-serif;font-size:42px;line-height:45px;font-weight:300}.sg__subtitle{margin:30px 0 20px;font-family:'Univers Next W01',sans-serif;font-size:18px;line-height:30px;font-weight:500}.sg__info p{margin:20px 0;font-size:15px;line-height:25px;font-family:'Univers Next W01',sans-serif}.sg__code{margin-top:50px;border-top:1px solid #d9d9d9}.sg__code-inner{padding:15px 20px;max-height:280px;overflow:hidden;border:1px solid #d9d9d9;background-color:#fafbfc;color:#666;line-height:1;-webkit-transition:max-height .5s ease;-o-transition:max-height .5s ease;transition:max-height .5s ease;box-sizing:content-box}.sg__code-inner--static{max-height:none;overflow:visible}.sg__trigger{display:inline-block;margin-top:20px;color:#8c8c8c;font-size:15px;line-height:25px}.sg__colors{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;margin:0 -10px}.sg__colors li{float:left;width:155px;margin:0 10px 20px;color:#8c8c8c;font-family:Monaco,'Andale Mono',monospace;font-size:12px;line-height:25px}.sg__colors span{display:block;height:75px;margin-bottom:5px;border:1px solid #d9d9d9}
/*# sourceMappingURL=styleguide.css.map */



/*CUSTOM CSS */

@import url('https://fonts.googleapis.com/css?family=Overpass:200');
@import url('https://fonts.googleapis.com/css?family=Muli:200');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100');
@import url('https://fonts.googleapis.com/css?family=Cousine');

body {
    -webkit-animation-delay: 0.1s !important;
    -webkit-animation-name: fontfix !important;
    -webkit-animation-duration: 0.1s !important;
    -webkit-animation-iteration-count: 1 !important;
    -webkit-animation-timing-function: linear !important;

    font-family: 'Source Sans Pro', sans-serif !important;

}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}


a {
  font-weight: 100 !important;
}


.centerHead {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 30px !important;
  letter-spacing: .1px;
}


.Label {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 23px !important;
  letter-spacing: .1px;
}

.List {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 17px !important;
}

.headerBold {
  font-size: 42px !important;
}


.deals {

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

}


.dealsAround {

  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.vertDeals {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around !important;
  flex-grow: 1;
}

.vertCenter {
  display: flex;
  flex-direction:column;
  justify-content:center:center;
  align-items: center;
}

.imageDiv {

}

.dealsButton {
  background-color: #537EBA;
  color:white;
  height:40px;
  width:auto;
}
