@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif !important;
    scroll-behavior: smooth;
}

p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color:inherit;
}


#slide1 {

  max-height:100%;
  width: 100%;
  margin-top: 80px;
  background-color:white;
}

#slide2 {

  max-height:100%;
  max-width: 100%;
  color:white;
  background-color: #005dff;
}

#slide3 {

  max-height:100%;
  width: 100%;
  background-color: white;
}

#slide4 {

  max-height:100%;
  width: 100%;
  color:white;
  background-color: #292929;
  padding-bottom: 20px;
}

#footer {

  max-height:100%;
  width: 100%;
  background-color: white;
  margin-bottom: 80px;
  margin-top: 30px;
}

#copyright {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #copyright {
    margin-bottom: 50px;
  }
}


.fixedHeader {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fixedHeaderText {
  width: 100%;
  text-align: right;
  padding-right: 80px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .fixedHeaderText {
    width: 100%;
    text-align: right;
    padding-right: 80px;
    font-size: 25px;
  }
}

.topSlide {
  margin-top: 30px;
  margin-bottom: 60px;
}

.bodyHeader {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header {
  font-size: 90px;
}

.tower {
  max-height: 140px;
  max-width: auto;
}

.arrow {
  max-height: 80px;
  max-width: auto;
  margin-top: 50px;
  margin-bottom: 45px;
}

.text {
  padding-right: 40px;
  padding-left: 40px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .text {
    padding-right: 140px;
    padding-left: 140px;
    font-size: 25px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexOutside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexUp {
  margin-right: 100px;
  margin-left: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

@media (min-width: 768px) {
  .flexUp {
    flex-direction: row;
  }
  .header {
    font-size: 130px;
  }
  .topSlide {
    margin-top: 90px;
  }
  .bodyHeader {
    font-size: 90px;
  }
}


.footerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {

  .footer-right {
    margin-right: 100px;
  }

  .footer-left {
    margin-left: 100px;
  }

}

.footerHead {
  font-size: 25px;
  margin-bottom: 10px;
}

.footer-left {
  margin-left: 40px;
}

.footer-right {
  margin-right: 40px;
}

.centerText {
  text-align: center;
}

/*Sticky Panels*/
.sticky-panel {
    position: fixed;
    z-index: 999;
    background-color: #f1f1ef;
}

.sticky-panel-top {
    top: 0;
    width: 100%;
    height: 20px;
}

.sticky-panel-right {
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
}

.sticky-panel-bottom {
    bottom: 0;
    width: 100%;
    height: 10px;
}

.sticky-panel-left {
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
}

@media (min-width: 768px) {

  .sticky-panel-top {
      top: 0;
      width: 100%;
      height: 60px;
  }

  .sticky-panel-right {
      top: 0;
      right: 0;
      height: 100%;
      width: 40px;
  }

  .sticky-panel-bottom {
      bottom: 0;
      width: 100%;
      height: 40px;
  }

  .sticky-panel-left {
      top: 0;
      left: 0;
      height: 100%;
      width: 40px;
  }


}
